In [118]:
import pandas as pd
import numpy as np

In [119]:

# Veri çerçevesini yükle
loans_2007 = pd.read_csv('LoanStats3a.csv', skiprows=1, low_memory=False)

# Eksik değerleri olan sütunları kaldır
half_count = len(loans_2007) / 2
loans_2007 = loans_2007.dropna(thresh=half_count, axis=1)

# 'url' ve 'desc' sütunlarını kaldır
loans_2007 = loans_2007.drop(['url', 'desc'], axis=1)

# İlk 5 satırı ve sütunların bilgilerini göster
loans_2007.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Oct-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

##### Elimizdeki verilerin satır ve sütun sayıları

In [120]:
loans_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          42538 non-null  object
 1   member_id                   42535 non-null  float64
 2   loan_amnt                   42535 non-null  float64
 3   funded_amnt                 42535 non-null  float64
 4   funded_amnt_inv             42535 non-null  float64
 5   term                        42535 non-null  object
 6   int_rate                    42535 non-null  object
 7   installment                 42535 non-null  float64
 8   grade                       42535 non-null  object
 9   sub_grade                   42535 non-null  object
 10  emp_title                   39909 non-null  object
 11  emp_length                  41423 non-null  object
 12  home_ownership              42535 non-null  object
 13  annual_inc                  42531 non-null  float64
 14  verification_status         42535 non-null  object
 15  issue_d                     42535 non-null  object
 16  loan_status                 42535 non-null  object
 17  pymnt_plan                  42535 non-null  object
 18  purpose                     42535 non-null  object
 19  title                       42522 non-null  object
 20  zip_code                    42535 non-null  object
 21  addr_state                  42535 non-null  object
 22  dti                         42535 non-null  float64
 23  delinq_2yrs                 42506 non-null  float64
 24  earliest_cr_line            42506 non-null  object
 25  inq_last_6mths              42506 non-null  float64
 26  open_acc                    42506 non-null  float64
 27  pub_rec                     42506 non-null  float64
 28  revol_bal                   42535 non-null  float64
 29  revol_util                  42445 non-null  object
 30  total_acc                   42506 non-null  float64
 31  initial_list_status         42535 non-null  object
 32  out_prncp                   42535 non-null  float64
 33  out_prncp_inv               42535 non-null  float64
 34  total_pymnt                 42535 non-null  float64
 35  total_pymnt_inv             42535 non-null  float64
 36  total_rec_prncp             42535 non-null  float64
 37  total_rec_int               42535 non-null  float64
 38  total_rec_late_fee          42535 non-null  float64
 39  recoveries                  42535 non-null  float64
 40  collection_recovery_fee     42535 non-null  float64
 41  last_pymnt_d                42452 non-null  object
 42  last_pymnt_amnt             42535 non-null  float64
 43  last_credit_pull_d          42531 non-null  object
 44  collections_12_mths_ex_med  42390 non-null  float64
 45  policy_code                 42535 non-null  float64
 46  application_type            42535 non-null  object
 47  acc_now_delinq              42506 non-null  float64
 48  chargeoff_within_12_mths    42390 non-null  float64
 49  delinq_amnt                 42506 non-null  float64
 50  pub_rec_bankruptcies        41170 non-null  float64
 51  tax_liens                   42430 non-null  float64
dtypes: float64(30), object(22)
memory usage: 16.9+ MB

In [121]:
print('of rows and columns of loans_2007 = {} , {} '.format(loans_2007.shape[0],loans_2007.shape[1]))

of rows and columns of loans_2007 = 42538 , 52

## Veri temizliği

In [122]:
removed_columns = ['id','member_id','funded_amnt','funded_amnt_inv','grade','sub_grade','emp_title',
                   'issue_d','zip_code','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv',
                   'total_rec_prncp','total_rec_int','total_rec_late_fee',
                   'recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt']

loans_2007 =loans_2007.drop(removed_columns, axis=1)

In [123]:
print('of rows and columns of loans_2007 = {} , {} '.format(loans_2007.shape[0],loans_2007.shape[1]))

of rows and columns of loans_2007 = 42538 , 32

In [124]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,initial_list_status,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,Fully Paid,n,...,f,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,Charged Off,n,...,f,Oct-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,Fully Paid,n,...,f,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,Fully Paid,n,...,f,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,3000.0,60 months,12.69%,67.79,1 year,RENT,80000.0,Source Verified,Current,n,...,f,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

##### Hedef değerimiz (loan_status)

In [125]:
print(loans_2007.loan_status.value_counts())

Fully Paid                                             34085
Charged Off                                             5662
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Current                                                   19
Late (31-120 days)                                         9
In Grace Period                                            8
Late (16-30 days)                                          2
Default                                                    1
Name: loan_status, dtype: int64

In [126]:
loans_2007 =loans_2007[(loans_2007['loan_status'] ==  'Fully Paid') | 
                       (loans_2007['loan_status'] ==  'Charged Off')]

İstediğimiz değerler yapacağımız algoritmaya göre olacağından işimize yarayan bilgiler kredi odeme bilgisi olduğu için geri kalan bilgileri silmiş olduk

In [127]:
mapping_dict = {
    "loan_status" : {
        "Fully Paid" : 1,
        "Charged Off" :0
    }
}

loans_2007 =loans_2007.replace(mapping_dict)

Algorıtmalarda kullanın değerler sayılardır bundan dolayı object değerleri 1 ve 0 dönüştürmüş olduk

In [128]:
loans_2007.head(5)

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,initial_list_status,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,n,...,f,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,n,...,f,Oct-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,n,...,f,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,n,...,f,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
5,5000.0,36 months,7.90%,156.46,3 years,RENT,36000.0,Source Verified,1,n,...,f,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [129]:
drop_columns = []
for col in loans_2007.columns:
    is_unique = len(loans_2007[col].dropna().unique())
    if is_unique == 1:
        drop_columns.append(col)

In [130]:
drop_columns

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [131]:
loans_2007 = loans_2007.drop(drop_columns, axis=1)

Veri setimizdeki columnlardan hep aynı değerleri taşıması bizim için anlam ifade etmeyeceği için bu columnları basit bir fonksiyonla belirledikten sonra silmiş olduk

In [132]:
loans_2007.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_credit_pull_d,pub_rec_bankruptcies
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,credit_card,...,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,Dec-2016,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,car,...,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,Oct-2016,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,small_business,...,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,Dec-2016,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,other,...,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,Apr-2016,0.0
5,5000.0,36 months,7.90%,156.46,3 years,RENT,36000.0,Source Verified,1,wedding,...,0.0,Nov-2004,3.0,9.0,0.0,7963.0,28.3%,12.0,Jan-2016,0.0

### Data Hazırlama

Bu aşamada verilerimizde bulunan boş değerleri  yani Null değerleri duruma göre ( önem sıralarına ) silip yada  gerkli değerleri atayarak verilerimiz daha temzi hala getireceğiz.

In [133]:
null_counts = loans_2007.isnull().sum()
null_counts[null_counts > 0]

emp_length              1076
title                     11
revol_util                50
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

In [134]:
print(loans_2007.pub_rec_bankruptcies.value_counts(normalize=True, dropna=False))

0.0    0.940096
1.0    0.042192
NaN    0.017536
2.0    0.000176
Name: pub_rec_bankruptcies, dtype: float64

In [135]:
loans_2007 = loans_2007.drop('pub_rec_bankruptcies', axis=1)

In [136]:
loans_2007 = loans_2007.dropna(axis=0)

In [137]:
loans_2007.isnull().sum()

loan_amnt              0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
loan_status            0
purpose                0
title                  0
addr_state             0
dti                    0
delinq_2yrs            0
earliest_cr_line       0
inq_last_6mths         0
open_acc               0
pub_rec                0
revol_bal              0
revol_util             0
total_acc              0
last_credit_pull_d     0
dtype: int64

### Veri tiplerini hazırlama

In [138]:
loans_2007.dtypes.value_counts()

object     11
float64    10
int64       1
dtype: int64

veri tiplerini nümerik hale getirmemiz gerekli !!!

In [139]:
#  veri setimizdeki nümerik olmayan verilileri yeni bir data haline getirdik
object_df =loans_2007.select_dtypes(include=['object'])

In [140]:
object_df.head().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 5
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   term                 5 non-null      object
 1   int_rate             5 non-null      object
 2   emp_length           5 non-null      object
 3   home_ownership       5 non-null      object
 4   verification_status  5 non-null      object
 5   purpose              5 non-null      object
 6   title                5 non-null      object
 7   addr_state           5 non-null      object
 8   earliest_cr_line     5 non-null      object
 9   revol_util           5 non-null      object
 10  last_credit_pull_d   5 non-null      object
dtypes: object(11)
memory usage: 480.0+ bytes

In [141]:
cols = ['home_ownership','verification_status','emp_length','term','addr_state','int_rate']
for col in cols:
    print(loans_2007[col].value_counts())

RENT        18451
MORTGAGE    17226
OWN          2836
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
Not Verified       16466
Verified           12354
Source Verified     9792
Name: verification_status, dtype: int64
10+ years    8886
< 1 year     4573
2 years      4387
3 years      4090
4 years      3429
5 years      3279
1 year       3236
6 years      2224
7 years      1770
8 years      1480
9 years      1258
Name: emp_length, dtype: int64
 36 months    28234
 60 months    10378
Name: term, dtype: int64
CA    6903
NY    3707
FL    2776
TX    2672
NJ    1821
IL    1486
PA    1480
VA    1377
GA    1357
MA    1312
OH    1190
MD    1033
AZ     831
WA     806
CO     768
NC     760
CT     733
MI     688
MO     661
MN     591
NV     482
SC     464
WI     444
OR     434
AL     431
LA     426
KY     323
OK     293
KS     260
UT     252
AR     235
DC     212
RI     197
NM     183
HI     169
WV     168
NH     162
DE     110
WY      79
MT      79
AK      77
SD      62
VT      54
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64
 10.99%    934
 13.49%    817
 11.49%    800
  7.51%    756
  7.88%    701
          ...
 16.33%      1
 16.15%      1
 16.01%      1
 10.64%      1
 17.44%      1
Name: int_rate, Length: 371, dtype: int64

In [142]:
loans_2007.purpose.value_counts()

debt_consolidation    18239
credit_card            4999
other                  3821
home_improvement       2883
major_purchase         2108
small_business         1779
car                    1497
wedding                 934
medical                 668
moving                  557
house                   369
vacation                351
educational             312
renewable_energy         95
Name: purpose, dtype: int64

In [143]:
loans_2007.title.value_counts()

Debt Consolidation            2145
Debt Consolidation Loan       1691
Personal Loan                  643
Consolidation                  508
debt consolidation             488
                              ...
Last Credit Card Refinance       1
Fidelity Payoff                  1
DYLAN'S PERSONAL LOAN            1
Pay down debt loan               1
JAL Loan                         1
Name: title, Length: 19133, dtype: int64

In [144]:
# 'last_credit_pull_d', 'title', 'addr_state' ve 'earliest_cr_line' sütunlarını kaldırıyoruz.
loans_2007 = loans_2007.drop(['last_credit_pull_d', 'title', 'addr_state', 'earliest_cr_line'], axis=1)

In [145]:
# 'int_rate' sütunundaki yüzde işaretini (%) kaldırarak ve veri tipini float64 olarak dönüştürüyoruz.
loans_2007['int_rate'] =loans_2007['int_rate'].str.rstrip('%').astype('float64')

In [146]:
# 'revol_util' sütunundaki yüzde işaretini (%) kaldırarak ve veri tipini float64 olarak dönüştürüyoruz.
loans_2007['revol_util'] = loans_2007['revol_util'].str.rstrip('%').astype('float64')

In [147]:
mapping_dict = {
    "emp_length": {
        'n/a'       : 0,
        '< 1 year'  : 0,
        '1 year'    : 1 ,
        '2 years'   : 2 ,
        '3 years'   : 3 ,
        '4 years'   : 4 ,
        '5 years'   : 5 ,  
        '6 years'   : 6 ,
        '7 years'   : 7 ,
        '8 years'   : 8 ,
        '9 years'   : 9 ,
        '10+ years' : 10 
    }
}

loans_2007 = loans_2007.replace(mapping_dict)

In [148]:
# 'term', 'verification_status', 'home_ownership' ve 'purpose' sütunlarındaki 
#  kategorik değerleri ikili sütunlara dönüştürüyoruz.
dummy_df = pd.get_dummies(loans_2007[['term','verification_status','home_ownership','purpose']])

In [149]:
dummy_df.head()

,term_ 36 months,term_ 60 months,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
5,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [150]:
# 'loans_2007' veri çerçevesine 'dummy_df' ikili sütunlarını eksen 1 (yatay) boyunca ekliyoruz.
loans_2007 = pd.concat([loans_2007, dummy_df], axis=1)

In [151]:
loans_2007 =loans_2007.drop(['term','verification_status','home_ownership','purpose'],axis=1)

In [152]:
loans_2007.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,5000.0,10.65,162.87,10,24000.0,1,27.65,0.0,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
1,2500.0,15.27,59.83,0,30000.0,0,1.00,0.0,5.0,3.0,...,0,0,0,0,0,0,0,0,0,0
2,2400.0,15.96,84.33,10,12252.0,1,8.72,0.0,2.0,2.0,...,0,0,0,0,0,0,0,1,0,0
3,10000.0,13.49,339.31,10,49200.0,1,20.00,0.0,1.0,10.0,...,0,0,0,0,0,1,0,0,0,0
5,5000.0,7.90,156.46,3,36000.0,1,11.20,0.0,3.0,9.0,...,0,0,0,0,0,0,0,0,0,1

### Tahmin Algoritması ile Kredi Modelleme

In [153]:
print(loans_2007.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38612 entries, 0 to 39785
Data columns (total 38 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            38612 non-null  float64
 1   int_rate                             38612 non-null  float64
 2   installment                          38612 non-null  float64
 3   emp_length                           38612 non-null  int64
 4   annual_inc                           38612 non-null  float64
 5   loan_status                          38612 non-null  int64
 6   dti                                  38612 non-null  float64
 7   delinq_2yrs                          38612 non-null  float64
 8   inq_last_6mths                       38612 non-null  float64
 9   open_acc                             38612 non-null  float64
 10  pub_rec                              38612 non-null  float64
 11  revol_bal                            38612 non-null  float64
 12  revol_util                           38612 non-null  float64
 13  total_acc                            38612 non-null  float64
 14  term_ 36 months                      38612 non-null  uint8
 15  term_ 60 months                      38612 non-null  uint8
 16  verification_status_Not Verified     38612 non-null  uint8
 17  verification_status_Source Verified  38612 non-null  uint8
 18  verification_status_Verified         38612 non-null  uint8
 19  home_ownership_MORTGAGE              38612 non-null  uint8
 20  home_ownership_NONE                  38612 non-null  uint8
 21  home_ownership_OTHER                 38612 non-null  uint8
 22  home_ownership_OWN                   38612 non-null  uint8
 23  home_ownership_RENT                  38612 non-null  uint8
 24  purpose_car                          38612 non-null  uint8
 25  purpose_credit_card                  38612 non-null  uint8
 26  purpose_debt_consolidation           38612 non-null  uint8
 27  purpose_educational                  38612 non-null  uint8
 28  purpose_home_improvement             38612 non-null  uint8
 29  purpose_house                        38612 non-null  uint8
 30  purpose_major_purchase               38612 non-null  uint8
 31  purpose_medical                      38612 non-null  uint8
 32  purpose_moving                       38612 non-null  uint8
 33  purpose_other                        38612 non-null  uint8
 34  purpose_renewable_energy             38612 non-null  uint8
 35  purpose_small_business               38612 non-null  uint8
 36  purpose_vacation                     38612 non-null  uint8
 37  purpose_wedding                      38612 non-null  uint8
dtypes: float64(12), int64(2), uint8(24)
memory usage: 5.3 MB
None

In [154]:
features = loans_2007.drop('loan_status', axis=1)

In [155]:
features.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,5000.0,10.65,162.87,10,24000.0,27.65,0.0,1.0,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2500.0,15.27,59.83,0,30000.0,1.00,0.0,5.0,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2400.0,15.96,84.33,10,12252.0,8.72,0.0,2.0,2.0,0.0,...,0,0,0,0,0,0,0,1,0,0
3,10000.0,13.49,339.31,10,49200.0,20.00,0.0,1.0,10.0,0.0,...,0,0,0,0,0,1,0,0,0,0
5,5000.0,7.90,156.46,3,36000.0,11.20,0.0,3.0,9.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [182]:
target = loans_2007['loan_status']

In [183]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
lr = LogisticRegression(class_weight= 'balanced')

In [184]:
predictions= cross_val_predict(lr, features, target, cv=3)

/home/mrsbr/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/mrsbr/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [185]:
predictions= pd.Series(predictions)

In [186]:
predictions.value_counts()

1    19624
0    18988
dtype: int64

In [188]:
fp_filter = (predictions == 1) & (target == 0)
fp = len(predictions[fp_filter])

tp_filter = (predictions == 1) & (target == 1)
tp = len(predictions[tp_filter])

fn_filter = (predictions == 0) & (target == 1)
fn = len(predictions[fn_filter])

tn_filter = (predictions == 0) & (target == 0)
tn = len(predictions[tn_filter])

tpr = tp / (tp + fn)
fpr = fp / (fp + tn)

print(tpr)
print(fpr)

0.510195847170924
0.49980857580398164

In [189]:
# Sınıf ağırlıklarını belirleyen "penalty" sözlüğü oluşturuluyor.
penalty = {
    0: 10,
    1: 1
}

# LogisticRegression sınıfından bir model oluşturuluyor ve sınıf ağırlıkları belirtiliyor.
#lr = LogisticRegression(class_weight=penalty)
lr = LogisticRegression(class_weight=penalty)


# Çapraz doğrulama yaparak tahminler elde ediliyor ve bir pandas Serisi olarak saklanıyor.
predictions = cross_val_predict(lr, features, target, cv=3)
predictions = pd.Series(predictions)

# Yanlış pozitifleri (False Positives) bulmak için filtre oluşturuluyor ve sayısı hesaplanıyor.
fp_filter = (predictions == 1) & (target == 0)
fp = len(predictions[fp_filter])

# Doğru pozitifleri (True Positives) bulmak için filtre oluşturuluyor ve sayısı hesaplanıyor.
tp_filter = (predictions == 1) & (target == 1)
tp = len(predictions[tp_filter])

# Yanlış negatifleri (False Negatives) bulmak için filtre oluşturuluyor ve sayısı hesaplanıyor.
fn_filter = (predictions == 0) & (target == 1)
fn = len(predictions[fn_filter])

# Doğru negatifleri (True Negatives) bulmak için filtre oluşturuluyor ve sayısı hesaplanıyor.
tn_filter = (predictions == 0) & (target == 0)
tn = len(predictions[tn_filter])

/home/mrsbr/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/home/mrsbr/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [190]:
# Duyarlılık (Sensitivity) hesaplanıyor.
tpr = tp / (tp + fn)

# Yanlış pozitif oranı (False Positive Rate) hesaplanıyor.
fpr = fp / (fp + tn)

# Duyarlılık ve yanlış pozitif oranı ekrana yazdırılıyor.
print(tpr)
print(fpr)

0.16816164375058196
0.15199081163859113