In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('LoanStats3a.csv')

/tmp/ipykernel_3635/1170251881.py:1: DtypeWarning: Columns (0,1,2,3,4,7,13,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,47,49,50,51,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('LoanStats3a.csv')

In [17]:
import pandas as pd

# Veri çerçevesini yükle
loans_2007 = pd.read_csv('LoanStats3a.csv', skiprows=1, low_memory=False)

# Eksik değerleri olan sütunları kaldır
half_count = len(loans_2007) / 2
loans_2007 = loans_2007.dropna(thresh=half_count, axis=1)

# 'url' ve 'desc' sütunlarını kaldır
loans_2007 = loans_2007.drop(['url', 'desc'], axis=1)

# İlk 5 satırı ve sütunların bilgilerini göster
loans_2007.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Oct-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Dec-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [19]:
print( loans_2007.info)

<bound method DataFrame.info of                                                     id  member_id  loan_amnt  \
0                                              1077501  1296599.0     5000.0
1                                              1077430  1314167.0     2500.0
2                                              1077175  1313524.0     2400.0
3                                              1076863  1277178.0    10000.0
4                                              1075358  1311748.0     3000.0
...                                                ...        ...        ...
42533                                            72176    70868.0     2525.0
42534                                            71623    70735.0     6500.0
42535                                            70686    70681.0     5000.0
42536  Total amount funded in policy code 1: 460296150        NaN        NaN
42537          Total amount funded in policy code 2: 0        NaN        NaN

       funded_amnt  funded_amnt_inv        term int_rate  installment grade  \
0           5000.0           4975.0   36 months   10.65%       162.87     B
1           2500.0           2500.0   60 months   15.27%        59.83     C
2           2400.0           2400.0   36 months   15.96%        84.33     C
3          10000.0          10000.0   36 months   13.49%       339.31     C
4           3000.0           3000.0   60 months   12.69%        67.79     B
...            ...              ...         ...      ...          ...   ...
42533       2525.0            225.0   36 months    9.33%        80.69     B
42534       6500.0              0.0   36 months    8.38%       204.84     A
42535       5000.0              0.0   36 months    7.75%       156.11     A
42536          NaN              NaN         NaN      NaN          NaN   NaN
42537          NaN              NaN         NaN      NaN          NaN   NaN

      sub_grade  ... last_pymnt_amnt last_credit_pull_d  \
0            B2  ...          171.62           Dec-2016
1            C4  ...          119.66           Oct-2016
2            C5  ...          649.91           Dec-2016
3            C1  ...          357.48           Apr-2016
4            B5  ...           67.79           Dec-2016
...         ...  ...             ...                ...
42533        B3  ...           82.03           May-2007
42534        A5  ...          205.32           Aug-2007
42535        A3  ...          156.39           Feb-2015
42536       NaN  ...             NaN                NaN
42537       NaN  ...             NaN                NaN

      collections_12_mths_ex_med  policy_code application_type acc_now_delinq  \
0                            0.0          1.0       INDIVIDUAL            0.0
1                            0.0          1.0       INDIVIDUAL            0.0
2                            0.0          1.0       INDIVIDUAL            0.0
3                            0.0          1.0       INDIVIDUAL            0.0
4                            0.0          1.0       INDIVIDUAL            0.0
...                          ...          ...              ...            ...
42533                        NaN          1.0       INDIVIDUAL            NaN
42534                        NaN          1.0       INDIVIDUAL            NaN
42535                        NaN          1.0       INDIVIDUAL            NaN
42536                        NaN          NaN              NaN            NaN
42537                        NaN          NaN              NaN            NaN

      chargeoff_within_12_mths delinq_amnt pub_rec_bankruptcies tax_liens
0                          0.0         0.0                  0.0       0.0
1                          0.0         0.0                  0.0       0.0
2                          0.0         0.0                  0.0       0.0
3                          0.0         0.0                  0.0       0.0
4                          0.0         0.0                  0.0       0.0
...                        ...         ...                  ...       ...
42533                      NaN         NaN                  NaN       NaN
42534                      NaN         NaN                  NaN       NaN
42535                      NaN         NaN                  NaN       NaN
42536                      NaN         NaN                  NaN       NaN
42537                      NaN         NaN                  NaN       NaN

[42538 rows x 52 columns]>